:root {
  --gray:       #EFF1F3;
  --light-blue: #446590;
  --dark-blue:  #0E2F5A;
}

body {
  background-color: #F8FBFF;
  font-family: "Roboto", "sans-serif";
  min-width: 768px;
}

.font-header {
  font-family: "Lato", "sans-serif";
}

.font-text {
  font-family: "Roboto", "sans-serif";
}
